# OS cruft
.DS_Store

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environment
.venv/

# Local data/artifacts/logs
*.duckdb
*.parquet
*.log
load.log

# Specific DB files you created
emissions.duckdb
transform.duckdb
